<app-navigation></app-navigation>
<div class="actions">
  <a
    class="actions__my-account my-account"
    (mouseenter)="showPopup()"
    (mouseleave)="hidePopup()"
  >
    <img src="/assets/svg/avatar.svg" alt="" class="my-account__icon" />
    <span class="my-account__text">{{ "HEADER.MY_ACCOUNT" | translate }}</span>
    @if(isPopupVisible) {
    <app-account-popup></app-account-popup>
    }
  </a>
  <a class="actions__favorite-icon favorite-icon">
    <img src="/assets/svg/fav.svg" alt="" class="favorite-icon__img" />
  </a>
  <a class="actions__cart-icon cart-icon">
    <img src="/assets/svg/cart.svg" alt="" class="cart-icon__img" />
  </a>
</div>
