<app-navigation></app-navigation>
<div class="actions">
  <div
    class="actions__switch-language switch-language"
    (mouseenter)="showLanguagePopup()"
    (mouseleave)="hideLanguagePopup()"
  >
    <svg class="switch-language__icon" icon="switch__language"></svg>
    @if(isPopupLanguageVisible) {
    <app-account-popup @fadeInOut></app-account-popup>
    }
  </div>
  <div class="actions__my-account my-account">
    <svg icon="avatar" class="my-account__icon"></svg>
    <span class="my-account__text">{{ "HEADER.MY_ACCOUNT" | translate }}</span>
  </div>
  <a
    class="actions__favorite-icon favorite-icon"
    [routerLink]="['/my-favorite']"
  >
    <svg icon="fav" class="favorite-icon__img"></svg>
    @if(listMyFavorite_s()?.length){
    <span class="favorite-icon__counter">{{ listMyFavorite_s()?.length }}</span>
    }
  </a>
  <div
    class="actions__cart-icon-wrapper cart-icon-wrapper"
    (mouseenter)="showCartPopup()"
    (mouseleave)="hideCartPopup()"
  >
    <svg icon="cart" class="cart-icon-wrapper__img"></svg>
    @if(isPopupCartVisible) {
    <app-cart @fadeInOut></app-cart>>
    }
  </div>
</div>
