.favorites-container {
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    background-color: var(--grey-light-bgn-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .favorites-container__title {
        margin-bottom: 40px;
        font-size: 2em;
        color: var(--dark-blue-color);
        position: relative;

        &::after {
            content: "💜🩵💙";
            position: absolute;
            margin-left: 10px;
        }

        &::before {
            content: "🩷💛💚";
            position: absolute;
            margin-left: -130px;
        }
    }

    .favorites-container__remove-btn {
        background-color: #FB3C3C;
            color: var(--light-color);
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            width: 200px;
            text-align: center;
            align-self: flex-end;
            font-size: 18px;
        
            &:hover {
                background-color: #fe2020;
                transform: scale(1.05);
            }
        
            &:active {
                background-color: #fe2020;
                transform: scale(1);
            }
    }

    .disabled {
        display: none;
    }

    .list-wr {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .product-card {
            padding: 10px;
            border-radius: 5px;
            background-color: var(--light-color);
        }

    }


    .empty-message {
        margin-top: 20px;
        color: #888;
        font-size: 20px;
        margin-bottom: 40px;
    }


}