.favorites-container {
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    background-color: var(--grey-light-bgn-color);
    height: 100%;

    .favorites-container__title {
        margin-bottom: 40px;
        font-size: 2em;
        color: var(--dark-blue-color);
        position: relative;

        &::after {
            content: "💜🩵💙";
            position: absolute;
            margin-left: 10px;
        }

        &::before {
            content: "🩷💛💚";
            position: absolute;
            margin-left: -130px;
        }
    }

    .favorites-container__remove-btn {
        margin-left: auto;
        display: block;
        width: 185px;
        height: 40px;
        border: none;
        color: var(--light-color);
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        background-color: rgb(251, 60, 60);
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 40px;

        &:hover {
            filter:invert(9%); ;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .list-wr {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .product-card {
            padding: 10px;
            border-radius: 5px;
            background-color: var(--light-color);
        }

    }


    .empty-message {
        margin-top: 20px;
        color: #888;
        font-size: 20px;
        margin-bottom: 40px;
    }


}