<main class="home-page">
  <section class="home-page__intro intro">
    <h1 class="intro__subtitle">
      {{ "HOME_PAGE.INTRO_SUBTITLE" | translate }}
    </h1>
    <h2 class="intro__title">{{ "HOME_PAGE.INTRO_TITLE" | translate }}</h2>
    <p class="intro__description">
      {{ "HOME_PAGE.INTRO_DESCRIPTION" | translate }}
    </p>
    <button class="intro__show-button" [routerLink]="'/shop'">
      {{ "HOME_PAGE.INTRO_SHOW_BUTTON" | translate }}
    </button>
  </section>
  <section class="home-page__products products">
    <div class="products__category">
      @for (categoryItem of categoryList; track categoryItem.name) {
      <app-category-card
        [class.big-card]="$index === 2"
        [categoryItem]="categoryItem"
      ></app-category-card>
      }
    </div>
    <div class="products__featured featured">
      <h3 class="featured__title">
        {{ "HOME_PAGE.FEATURED_PRODUCTS" | translate }}
      </h3>
      <div class="featured__wrapper-cards wrapper-ftr_cards">
        @for( item of featuredProducts; track item.id) {
        <app-product-card [product]="item"></app-product-card>
        }
      </div>
    </div>

    <div class="products__latest latest">
      <h3 class="latest__title">
        {{ "HOME_PAGE.LATEST_PRODUCTS" | translate }}
      </h3>
      <div class="featured__wrapper-cards wrapper-lts_cards">
        @for( item of latestProducts; track item.id) {
        <app-product-card [product]="item" class="product-card--short"></app-product-card>
        }
      </div>
    </div>
  </section>
</main>
