.home-page {
  display: flex;
  flex-direction: column;
}

.intro {
  background-image: url(/assets/imgs/home-bgn-dt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 652px;
  text-align: center;
  color: var(--light-color);
}

.intro__subtitle {
  margin-top: 232px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}

.intro__title {
  margin-top: 8px;
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.intro__description {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.25px;
}

.intro__show-button {
  margin-top: 31px;
  width: 179px;
  height: 56px;
  background-color: var(--light-color);
  border: none;
  color: var(--vivid-blue-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.products__category {
    height: 567px;
    width: 100%;
    padding: 3% 10%;
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
    border: 1px solid #7f1c1c;

}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: var(--light-color);
    padding: 3% 10%; 
}

.featured__title {
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.1px;
color: var(--dark-blue-color);
margin-bottom: 50px;

}

.wrapper-cards {
  background-color: #04f143;
  width: 100%;
  height: 300px;
}