<div class="pagination">
    <button class="pagination__button-arrow pagination__button" (click)="previousPage()" [disabled]="currentPage() === 1">
      <svg icon="left-arrow" class="arrow-icon"></svg>
    </button>
    @for(page of pagesArray() ; track page) {

    <button [ngClass]="{ active: page === currentPage() }" class="pagination__button-page pagination__button" (click)="goToPage(page)" data-testid="pagination__page-container">
      {{ page }}
    </button>
    }
    <button class="pagination__button-arrow pagination__button" (click)="nextPage()" [disabled]="currentPage() === totalPages()">
      <svg icon="right-arrow" class="arrow-icon"></svg>
    </button>
  </div>