.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.list__item {
    padding: 10px;
  &:not(:last-child) {
      margin-right: 21px;
  }
}
