:host {
    display: block;
    background-color: var(--grey-light-bgn-color);
    color: var(--dark-blue-color);
}

.product-description-page {
    padding: 30px 4% 50px;
}

.product {
    padding: 40px 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3%;
}

.img-conteiner__image {
    width: 100%;
    min-height: 600px;
    object-fit: cover;
    object-position: center;
}

.info {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 6px;

    .model-curColor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        column-gap: 6px;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        

        .favorit-icon {
            width: 30px;
            height: 30px;
            color: var(--blue-active-color);
            
        }

        .model-curColor__dummy {
            width: 30px;
            height: 30px;
        }

        .model-curColor__model {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.1px;
        }

        .model-curColor__curColor {
            color: var(--light-grey-color);
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.1px;
        }
    }

    .rating-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        column-gap: 6px;
        margin-bottom: 20px;

        .rating-wrapper__rating {
            color: var(--gold-color);
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.2px;
        }
    }

    .info__price {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.1px;
        margin-bottom: 35px;
    }

    .colors,
    .sizes {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 10px;

        .colors__title,
        .sizes__title {
            color: var(--medium-grey-color);
            font-size: 16px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.2px;
        }

        .colors__colors-list .sizes-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: start;
            column-gap: 6px;
        }

        .colors-list__icon {
            width: 30px;
            height: 30px;
        }

        .sizes-list {
            display: flex;
            flex-direction: row;
        }

        .sizes-list__size {
            width: 34px;
            height: 29px;
            margin-right: 5px;
            border: 1px solid var(--light-grey-color);
            color: var(--medium-grey-color);
            font-weight: 700;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: 0.2px;
            text-align: center;
        }
    }

    .sizes {
        margin-bottom: 35px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
        margin-bottom: 35px;

        .buttons__button {
            width: 185px;
            height: 40px;
            border: none;
            color: var(--light-color);
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.2px;
            background-color: var(--light-blue-color);
            border-radius: 5px;
            cursor: pointer;

            padding: 0 5px;


            &:hover {
                filter: brightness(1.2);
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    .description__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0.2px;
        margin-bottom: 4px;
    }

    .description__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: var(--medium-grey-color)
    }

}