<main class="product-description-page">
  <section class="product-description-page__product product">
    <div class="product__img-conteiner img-conteiner">
      <img [src]="imgUrl" alt="img of product" class="img-conteiner__image" />
    </div>
    <div class="product__info info">
      <div class="info__model-curColor model-curColor">
        <h1 class="model-curColor__model">{{ product?.model }}</h1>
        <p class="model-curColor__curColor">({{ product?.curColor }})</p>
      </div>
      <div class="info__status-bar status-bar">
        @if(isUserFavorite_sc()) {
        <svg class="status-bar__favorit-icon favorit-icon" icon="fav"></svg>
        } @else {
        <div class="status-bar__favorit-icon-dummy favorit-icon-dummy"></div>
        } 
      </div>
      <div class="info__rating-wrapper rating-wrapper">
        <p class="rating-wrapper__rating">{{ product?.rating }}</p>
        <app-stars-generator [rating]="product?.rating">
          class="rating-wrapper__stars" ></app-stars-generator
        >
      </div>
      <p class="info__price">{{ product?.price | currency }}</p>
      <div class="info__colors colors">
        <p class="colors__title">
          {{ "PRODUCT_DESCRIPTION_PAGE.COLOR" | translate }}
        </p>
        <div class="colors__colors-list colors-list">
          @for(color of product?.color; track $index) {
          <svg
            icon="color"
            class="colors-list__color-icon color-icon"
            [style.color]="'var(--svg-' + color + ')'"
            (click)="setSelectedColor(color, $event)"
            [ngClass]="{ selectedColor: selectedColor_s() === color }"
          ></svg>
          }
        </div>
      </div>
      <div class="info__sizes sizes " [class.is-already-in-cart] = "isAlreadyInCart_s()">
        <p class="sizes__title">
          {{ "PRODUCT_DESCRIPTION_PAGE.SIZE" | translate }}
        </p>
        <div class="sizes__sizes-list sizes-list "  >
          @for(size of product?.sizes; track $index) {
          <div
            class="sizes-list__size"
            (click)="setSelectedSize(size, $event)"
            [ngClass]="{ selectedSize: selectedSize_s() === size }"
          >
            {{ size }}
          </div>
          } @if(selectedColor_s() === ''|| selectedSize_s() === '') {
          <p class="buttons__popup-add-color-size" visible>
            {{ "PRODUCT_DESCRIPTION_PAGE.SELECT_COLOR_AND_SIZE" | translate }}
          </p>
          }
        </div>
      </div>
      <div
        class="info__quantity-price-selector quantity-price-selector"
        [ngClass]="{
          'is-visible':
            selectedColor_s() !== '' &&
            selectedSize_s() !== '' &&
            !isAlreadyInCart_s()
        }"
      >
        <div class="quantity-price-selector__quantity-wrapper quantity-wrapper">
          <p class="quantity-wrapper__title">
            {{ "PRODUCT_DESCRIPTION_PAGE.SELECT_QUANTITY" | translate }}
          </p>
          <div class="quantity-wrapper__choice-wrapper choice-wrapper">
            <button class="choice-wrapper__button" (click)="decreaseQuantity()">
              -
            </button>
            <div class="choice-wrapper__number">
              {{ selectedQuantity_s() }}
            </div>
            <button class="choice-wrapper__button" (click)="increaseQuantity()">
              +
            </button>
          </div>
        </div>
        <div class="quantity-price-selector__price-wr price-wrapeer">
          <p class="price-wrapeer__title">
            {{ "PRODUCT_DESCRIPTION_PAGE.PRICE_OF_ORDER" | translate }}
          </p>
          <p class="price-wrapeer__price">
            {{ orderSum_sc() | number : "1.2-2" }}$
          </p>
        </div>
      </div>
      <div class="info__buttons buttons">
        <button
          class="buttons__button"
          (click)="toggleUserFavorite(product)"
        >
          {{
            (isUserFavorite_sc()
              ? "PRODUCT_DESCRIPTION_PAGE.REMOVE_FROM_WISHLIST"
              : "PRODUCT_DESCRIPTION_PAGE.ADD_TO_WISHLIST"
            ) | translate
          }}
        </button>
        <button
          class="buttons__button"
          [disabled]="
            selectedColor_s() === '' ||
            selectedSize_s() === '' ||
            isAlreadyInCart_s()
          "
          (click)="product && addToUserCart(product)"
        >
          {{ "PRODUCT_DESCRIPTION_PAGE.ADD_TO_CART" | translate }}
        </button>

        <p
          class="buttons__popup"
          [class.visible-popup]="showPopupAddToCart_s()"
          (animationend)="handleAnimationEnd()"
        >
          {{ "PRODUCT_DESCRIPTION_PAGE.ADDED_TO_CART" | translate }}
        </p>
      </div>
      <div class="info__description description">
        <h2 class="description__title">
          {{ "PRODUCT_DESCRIPTION_PAGE.PRODUCT_DESCRIPTION" | translate }}
        </h2>
        <p class="description__text">{{ product?.description }}</p>
      </div>
    </div>
  </section>
</main>

<!-- dddel -->
 <button  (click)="addToUserCart(product!)">add to user cart</button>
 <br>
 <button>get userCartList</button>

