<div class="filter-container">
  <div class="custom-slider">
    <ngx-slider
      [(value)]="value"
      [(highValue)]="highValue"
      [options]="options"
    ></ngx-slider>
  </div>

  <div class="price-display">
    <div class="price-box-wr">
      <input
        class="price-box"
        pattern="[0-9]*"
        inputmode="numeric"
        type="text"
        value="{{ value() > 1000 || value() < 0 ? 0 : value() }}"
        (input)="onInputMinChange($event)"
      />
    </div>

    <div class="price-box-wr">
      <input
        class="price-box"
        pattern="[0-9]*"
        inputmode="numeric"
        type="text"
        value="{{ highValue() > 1000 || highValue() < 0 ? 0 : highValue() }}"
        (input)="onInputMaxChange($event)"
      />
    </div>
  </div>
</div>
