<div class="login-wrapper">
  <div class="login-wrapper__title-wrapper title-wrapper">
    <h1 class="title-wrapper__title">Login</h1>

    @if (this.errorMessage()) {
    <p class="title-wrapper__error">{{ this.errorMessage() }}</p>
    }
  </div>

  <form class="login-wrapper__form form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input class="form__input" type="text" formControlName="email" placeholder="Email" />
  <div class="form__input-wrapper input-wrapper ">

    <input class="input-wrapper__input-password"
      [type]="passwordFieldType_s()"
      formControlName="password"
      placeholder="Password"
    />
    <svg class="input-wrapper__eye" icon="close_eye" (click)="togglePasswordVisibility($event)"></svg>
  </div>
   
  <button class="form__button" type="submit">Sign In</button>
  </form>
</div>
