.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.list__item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:hover {
        color: var(--dark-blue-color);
    }

    &:not(:last-child) {
        margin-right: 21px;
    }
}