.products-list-page {
    display: flex;
    flex-direction: column;
}

.intro {
    width: 100%;
    height: 302px;
    background-image: url(/assets/imgs/shop-bgn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light-color);
    text-align: center;
}

.intro__subtitle {
    margin-top: 75px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
}

.intro__title {
    margin-top: 8px;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.intro__description {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.25px;
}

.product-wrapper {
    display: grid;
    grid-template-columns: 380px 1fr;
    padding: 30px 26px 30px 30px;
    column-gap: 40px;
 } 

 .products-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
 }

 .layout-switcher {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: end;
 }

 .view-icon {
    margin-left: 7px;
    width: 53px;
    height: 51px;
    color: var(--grey-active-icon-color);
 }

 .product-gallery {
    display: grid;
    
    &.column {
       grid-template-columns: repeat(4, 1fr);
       column-gap: 40px;
       row-gap: 45px;
    }

 }


 .sidebar {
    border: 1px solid green;
    background-color: grey;
 }
 .xxx {
    border: 1px solid red;
 }