<main class="products-list-page">
  <section class="products-list-page__intro intro">
    <h1 class="intro__subtitle">
      {{ "PRODUCTS_LIST_PAGE.INTRO_SUBTITLE" | translate }}
    </h1>
    <h2 class="intro__title">
      {{ "PRODUCTS_LIST_PAGE.INTRO_TITLE" | translate }}
    </h2>
    <p class="intro__description">
      {{ "PRODUCTS_LIST_PAGE.INTRO_DESCRIPTION" | translate }}
    </p>
  </section>
  <div class="products-list-page__product-wrapper product-wrapper">
    <aside class="product-wrapper__sidebar sidebar">
      <div class="sidebar__search-wrapper search-wrapper">
        <input
          class="search-wrapper__search search"
          type="text"
          placeholder="{{
            'PRODUCTS_LIST_PAGE.SEARCH_FOR_PRODUCTS' | translate
          }}"
          [formControl]="search"
        />
        <div
          *ngIf="search.errors?.['noCyrillic']"
          class="search-wrapper__error"
        >
          {{ "PRODUCTS_LIST_PAGE.DONT_USE_CYRILLIC" | translate }}
        </div>
      </div>

      <div class="sidebar__filter-category-wr filter-category-wr">
        @for (categoryItem of categoryList; track categoryItem.name) {
        <div
          class="filter-category-wr__input-container-cat input-container-cat"
        >
          <input
            [id]="categoryItem.name"
            type="checkbox"
            class="input-container-cat__checkbox-cat"
            [checked]="categorySelected_s().includes(categoryItem.category)"
            (change)="toggleCategoryCheckbox($event, categoryItem)"
          />
          <label
            [for]="categoryItem.name"
            class="input-container-cat__label-cat label-cat"
          >
            <p class="label-cat__text">{{ categoryItem.name | translate }}</p>
            <svg icon="plus" class="label-cat__plus-icon"></svg>
          </label>
        </div>
        }
      </div>

      <div class="sidebar__filter-color-wr filter-color-wr">
        <p class="filter-color-wr__title">{{ "FILTER.COLOR" | translate }}</p>
        <div class="filter-color-wr__color-list color-list">
          @for (color of colorList; track $index) {
          <div class="color-list__color-conteiner color-conteiner">
            <app-round-checkbox
              [title]="color.title"
              [(ngModel)]="color.selected"
              (ngModelChange)="toggleRoundCheckbox(color, 'color')"
            ></app-round-checkbox>
            <p class="color-conteiner__total-items total-items">
              {{ calculateTotalItemsByColor(color.title) || "" }}
            </p>
          </div>
          }
        </div>
      </div>

      <!-- <div class="sidebar__filter-sizer-wr filter-size-wr">
        <p class="filter-size-wr__title">{{ "FILTER.SIZE" | translate }}</p>
        <div class="filter-size-wr__size-list size-list">
          @for (size of sizeList; track size.title) {
          <app-round-checkbox
            [title]="size.title"
            [(ngModel)]="size.selected"
            (ngModelChange)="toggleRoundCheckbox(size, 'size')"
          ></app-round-checkbox>
          }
        </div>
      </div> -->
      <!-- zzz -->

      <div class="sidebar__filter-sizer-wr filter-size-wr">
        <p class="filter-size-wr__title">{{ "FILTER.SIZE" | translate }}</p>
        <app-multiselect
          [fieldsArray]="sizeList"
          key="title"
          [(ngModel)]="arrayOfSelectedSizes"
          (ngModelChange)="onMultiselectSizeChange(arrayOfSelectedSizes)"
        ></app-multiselect>
      </div>

      <!-- zzz -->

      <div class="sidebar__filter-price-wr filter-price-wr">
        <p class="filter-size-wr__title">
          {{ "FILTER.FILTER_BY_PRICE" | translate }}
        </p>
        <app-dual-range-slider
          [(value)]="priceMinSelected_s"
          [(highValue)]="priceMaxSelected_s"
          (click)="clickFilterByPrice()"
        ></app-dual-range-slider>
      </div>
    </aside>

    <section class="product-wrapper__products-container products-container">
      <div class="products-container__layout-switcher layout-switcher">
        <a
          ><svg
            icon="column-icon"
            class="layout-switcher__view-icon view-icon"
            (click)="toggleLayoutToColumn()"
            [ngClass]="{ active: isColumnLayout() }"
          ></svg>
        </a>
        <a
          ><svg
            icon="row-icon"
            class="layout-switcher__view-icon view-icon"
            (click)="toggleLayoutToRow()"
            [ngClass]="{ active: !isColumnLayout() }"
          ></svg
        ></a>
      </div>
      <div
        class="products-container__product-gallery product-gallery"
        [ngClass]="isColumnLayout() ? 'column-layout' : 'row-layout'"
      >
        @for (item of displayedItems_sc(); track item.id) {

        <app-product-card
          [product]="item"
          [ngClass]="
            isColumnLayout() ? 'product-card--mini' : 'product-card--row'
          "
        ></app-product-card>
        }
      </div>
      <app-pagination
        class="products-container__pagination"
        [totalItems]="afterAllFiltersData_sc().length"
        [itemsPerPage]="itemsPerPage_sc()"
        [(currentPage)]="currentPage_s"
      ></app-pagination>
    </section>
  </div>
</main>
