.products-list-page {
    display: flex;
    flex-direction: column;
}

.intro {
    width: 100%;
    height: 302px;
    background-image: url(/assets/imgs/shop-bgn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light-color);
    text-align: center;
}

.intro__subtitle {
    margin-top: 75px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
}

.intro__title {
    margin-top: 8px;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.intro__description {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.25px;
}

.product-wrapper {
    display: grid;
    grid-template-columns: 380px 1fr;
    padding: 30px 26px 30px 30px;
    column-gap: 40px;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}

.layout-switcher {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: end;
}


.view-icon {
    margin-left: 7px;
    width: 53px;
    height: 51px;
    color: var(--light-color);
    cursor: pointer;

    &.active {
        color: var(--grey-active-icon-color);
    }

    &:hover {
        filter: invert(20%);
    }
}

.product-gallery {
    display: grid;

    &.column-layout {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 276px);
        column-gap: 40px;
        row-gap: 45px;
    }

    &.row-layout {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 237px);
        row-gap: 10px;
    }

}

//  ----- pagination
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 17px;
    margin: 0 auto;
}

.pagination__button {
    border: 1px solid var(--blue-not-active-color);
    border-radius: 5px;
    background-color: var(--light-color);
    color: var(--blue-not-active-color);
    cursor: pointer;


    &:not(:disabled):hover {
        filter: brightness(1.2);
    }

    &.active {
        color: var(--light-color);
        background-color: var(--blue-active-color);
    }

    &:disabled {
        cursor:inherit;
        background-color: #e0e0e0;
        color: #e0e0e0;
        border-color: #e0e0e0;;
    }
}

.pagination__button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    

    .arrow-icon {
        width: 9px;
        height: 14px; 
        border: none;
    }
}



.pagination__button-page {
    width: 40px;
    height: 40px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;

}

//  -----------------------------------------

.sidebar {
    border: 1px solid green;
    background-color: grey;
}

.xxx {
    border: 1px solid red;
}