.products-list-page {
    display: flex;
    flex-direction: column;
}

.intro {
    width: 100%;
    height: 302px;
    background-image: url(/TMS-shop/assets/imgs/shop-bgn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light-color);
    text-align: center;
}

.intro__subtitle {
    margin-top: 75px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
}

.intro__title {
    margin-top: 8px;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.intro__description {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.25px;
}

.product-wrapper {
    display: grid;
    grid-template-columns: 380px 1fr;
    column-gap: 40px;
    padding: 30px 26px 30px 30px;
    background-color: var(--grey-light-bgn-color);
}

// products-container 💡💡💡💡💡💡
.products-container {
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    justify-content: start;
}

.layout-switcher {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 53px;
}


.view-icon {
    width: 53px;
    height: 51px;
    margin-left: 7px;
    color: var(--light-color);
    cursor: pointer;

    &.active {
        color: var(--grey-active-icon-color);
    }

    &:hover {
        filter: invert(20%);
    }
}

.product-gallery {
    display: grid;

    &.column-layout {
        grid-template-rows: repeat(1, 276px);
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
        row-gap: 45px;
    }

    &.row-layout {
        grid-template-rows: repeat(1, 237px);
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

.products-container__pagination {
    margin-top: auto;
}

//  -- sidebar 💡💡💡💡💡💡
.sidebar {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: start;
    padding: 18px;
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
    background-color: var(--light-color);
    box-shadow: 0px 2px 4px 0px #0000001A;

    .search-wrapper {
        position: relative;

        .search {
            width: 100%;
            padding: 18px 46px 18px 23px;
            border: 1px solid var(--light-grey-color);
            border-radius: 7px;
            background-color: var(--grey-light-bgn-color);
            color: var(--medium-grey-color);
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.1px;

            &::placeholder {
                font-weight: 500;
            }

            &:focus {
                outline: 2px solid var(--medium-grey-color);
            }
        }

        &:after {
            position: absolute;
            top: 5px;
            top: 50%;
            right: 15px;
            width: 20px;
            height: 22px;
            transform: translateY(-50%);
            background-image: url('/TMS-shop/assets/svg/loupe.svg');
            content: '';
        }

        .search-wrapper__error {
            position: absolute;
            top: -45px;
            left: 20px;
            padding: 4px;
            border: 1px solid var(--medium-grey-color);
            border-radius: 5px;
            background-color: var(--grey-light-bgn-color);
            color: red;
        }
    }

    .formFilter {
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 18px;

        .filter-color-wr {
            width: 100%;
            padding: 30px 35px;
            border: 1px solid var(--light-grey-color);
            border-radius: 5px;
            background-color: var(--grey-light-bgn-color);

            .filter-color-wr__title {
                margin-bottom: 20px;
                color: var(--dark-blue-color);
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
            }
        }

        .filter-size-wr {
            width: 100%;
            padding: 30px 35px;
            border: 1px solid var(--light-grey-color);
            border-radius: 5px;
            background-color: var(--grey-light-bgn-color);

            .filter-size-wr__title {
                margin-bottom: 20px;
                color: var(--dark-blue-color);
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
            }
        }

        .filter-price-wr {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            padding: 30px 35px;
            border: 1px solid var(--light-grey-color);
            border-radius: 5px;
            background-color: var(--grey-light-bgn-color);

            .filter-size-wr__title {
                margin-bottom: 20px;
                color: var(--dark-blue-color);
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
            }
        }
    }


}