
  <app-navigation></app-navigation>
  <div class="user-actions">
    <a class="my-account">
      <img src="/assets/svg/avatar.svg" alt="" class="my-account__icon" />
      <span class="my-account__text">My Account</span>
    </a>
    <a class="favorite-icon">
      <img src="/assets/svg/fav.svg" alt="" class="favorite-icon__img" />
    </a>
    <a class="cart-icon">
      <img src="/assets/svg/cart.svg" alt="" class="cart-icon__img" />
    </a>
  </div>

<!-- <div class="content">
  <h2 class="content-sub-title">SUMMER 2020</h2>
  <h1 class="content-main-title">New Collection</h1>
  <h3 class="content-description">Find The Perfect style for you</h3>
  <button>Show Now</button>
</div> -->