:root {
  --light-color: #ffffff;
  --medium-grey-color: #737373;
  --light-grey-color: #BDBDBD;
  --dark-blue-color: #252b42;
  --light-blue-color: #2090f9c2;
  --grey-active-icon-color:  #E9E9E9;
  --grey-light-bgn-color:#F9F9F9;
  --gold-color: #e7d108;
  
  --blue-not-active-color: #8EC2F2;
  --blue-active-color: #2091F9;

  --svg-blue: #1975cc;
  --svg-green: #2DC071;
  --svg-red: #d32929;
  --svg-grey: #737373;
  --svg-yellow: #FFC700;
  --svg-black: #141414;
  --svg-brown: #6A4029;
  --svg-white: #ffffff;

   --bgn-favorit-icon:#E8E8E8;
   --fill-opacity-favorit-icon:0.46;

   --svg-color-icon-stroke-color:#737373;
   --svg-color-icon-stroke-size: 2;

  --visible-popup-add-color-size: block;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Убирает стандартный цвет и унаследует цвет от родителя */
  cursor: auto; /* Сбрасывает курсор по умолчанию */
  outline: none; /* Убирает обводку при фокусировке */
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
  background-color: #d8d8d8;
  overflow-y: scroll;
}


