<div class="shopping-cart">
  <h1 class="shopping-cart__title">{{ "CART.SHOPPING_CART" | translate }}</h1>
  <svg
    class="shopping-cart__close-icon"
    icon="cart-close"
    (click)="hideCartPopup()"
  ></svg>
  <button
    class="shopping-cart__remove-all-btn remove-all-btn"
    [class.showSwitcher]="this.listCart_s()!.length > 1"
    (click)="removeAllFromCart()"
  >
    {{ "CART.REMOVE_ALL" | translate }}
  </button>
  @if(!this.listCart_s()!.length) {
  <p class="shopping-cart__empty-cart">{{ "CART.YUOUR_SHOPPING_CART_IS_EMPTY" | translate}}</p>
  }
  <div class="shopping-cart__card-list card-list">
    @for (item of this.listCart_s() ; track item.id) {
    <div class="cart-list__card-wrapper card-wrapper">
      <app-product-card
        [product]="item"
        class="product-card--inCart"
      ></app-product-card>
      <div class="card-wrapper__aside aside">
        <svg
          class="aside__remove-item-btn remove-item-btn"
          icon="cart-close"
          (click)="removeFromCart(item)"
        ></svg>
        <div class="aside__quantity-control quantity-control">
          @if( !this.arrShowQuantityPanel_s().includes(item.id.toString()) ) {
          <div class="quantity-control__quantity-conteiner quantity-conteiner">
            <p class="quantity-conteiner__quantity-num">
              {{"CART.QUANTITY" | translate}} - {{ item.quantity }} {{
                "CART.PCS" | translate}}
            </p>
            <svg
              class="quantity-conteiner__edit-quantity"
              icon="edit-quantity"
              (click)="showPanelContol($event, item)"
            ></svg>
          </div>
          } @else {
          <div class="quantity-control__choice-wrapper choice-wrapper">
            <div class="choice-wrapper__choice-contrall choice-contrall">
              <button
                class="choice-contrall__button"
                (click)="decrementCounter()"
              >
                -
              </button>
              <div class="choice-contrall__number">
                {{ this.counterQuantity_s() }}
              </div>
              <button
                class="choice-contrall__button"
                (click)="incrementCounter()"
              >
                +
              </button>
            </div>
            <svg
              class="choice-contrall__apply-btn"
              icon="apply-quantity"
              (click)="applyQuantity($event, item)"
            ></svg>
          </div>
          }
        </div>
        <div class="aside__total-price total-price">
          <div class="total-price__total-price-num">
            {{"CART.TOTAL" | translate}} -
            {{
              item.quantity && item.price
                ? (item.quantity * item.price | number : "1.2-2" | currency)
                : "error calculation 💀 "
            }}
          </div>
          <button class="total-price__pay-btn">{{"CART.ORDER" | translate}}</button>
        </div>
      </div>
    </div>
    }
  </div>
  @if (this.listCart_s()!.length > 1){
  <div class="shopping-cart__cart-summary cart-summary">
    <div class="cart-summary__content-summary content-summary">
      <div class="content-summary__summary-text summary-text">
        <p class="summary-text__quantity">{{ "CART.TOTAL_QUANTITY" | translate }} -</p>
        <p class="summary-text__summary-price">{{ "CART.TOTAL_PRICE" | translate }} -</p>
      </div>
      <div class="content-summary__summary-num summary-num">
        <p class="summary-num__quantity">
          {{ this.totalQuantityInCart_sc() }}{{ "CART.PCS" | translate }}
        </p>
        <p class="summary-num__summary-price">
          {{ this.totalPriceInCart_sc() | number : "1.2-2" | currency }}
        </p>
      </div>
    </div>
    <button class="cart-summary__pay-btn">{{"CART.ORDER_ALL" | translate}}</button>
  </div>
  }
</div>
