<div class="shopping-cart">
  <h1 class="shopping-cart__title">Shopping Cart</h1>
  <svg
    class="shopping-cart__close-icon"
    icon="cart-close"
    (click)="hideCartPopup()"
  ></svg>
  <button
    class="shopping-cart__remove-btn remove-btn"
    (click)="removeAllFromCart($event)"
  >
    remove all
  </button>
  <div class="shopping-cart__card-list card-list">
    @for (item of this.listCart_s() ; track item.id) {
    <div class="cart-list__card-wrapper card-wrapper">
      <app-product-card
        [product]="item"
        class="product-card--inCart"
      ></app-product-card>
      <button class="card-wrapper__remove-btn remove-btn" (click)="removeFromCart(item, $event)">Remove</button>
      <div class="card-wrapper__quantity-control quantity-control">
        <p class="card-wrapper__quantity">{{ item.quantity }}</p>
        @if(!iSshowQuantityPanel()) {

          <button
            class="quantity-control__button-show-panel"
            (click)="showPanelContol($event)"
          >
            изменить количество
          </button>
        } @else {
          <div>panel!!!!!!!!</div>
          <button  (click)="showPanelContol($event)">применить</button>
        }
      </div>
      <div class="card-wrapper__total-price-card total-price-card">
        {{
          item.quantity && item.price
            ? (item.quantity * item.price | number : "1.2-2")
            : "error calculation 💀 "
        }}
      </div>
    </div>
    }
  </div>
</div>
