:host {
    position: absolute;
    max-height: 95vh;
    width: 80%;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 101;
}


.shopping-cart {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .shopping-cart__title {
        margin-bottom: 20px;
        color: var(--dark-blue-color);
        font-size: 2rem;
        text-align: center;

        &:before,
        &:after {
            content: "🛒🛒🛒";
            width: 40px;
            height: 5px;
            margin: 5px;
        }
    }

    .shopping-cart__close-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        color: var(--dark-blue-color);
        position: absolute;
        right: 4%;
        top: 2%;

        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));

            &:active {
                transform: scale(0.95);
            }
        }

    }

    .shopping-cart__empty-cart {
        color: var(--dark-blue-color);
        font-size: 24px;
        text-align: center;
        padding: 200px;
    }

    .remove-btn {
        background-color: #FB3C3C;
        color: var(--light-color);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        width: 160px;
        text-align: center;
        align-self: flex-end;
        font-size: 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        &.shopping-cart__remove-btn {
            visibility: hidden;
        }

        &:hover {
            background-color: #fe2020;
            transform: scale(1.05);
        }

        &:active {
            background-color: #fe2020;
            transform: scale(1);
        }

        &.showSwitcher {
            visibility: visible;
        }

        &.remove-btn--inCart {
            position: absolute;
            top: 5%;
            right: 2%;
        }
    }

    .card-list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .card-wrapper {
            position: relative;
            display: flex;
            column-gap: 5px;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--light-color);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            .product-card--inCart {
                // border: 1px solid rgb(0, 255, 76);
                margin-left: 4%;
            }

            .aside {
                padding-top: 45px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                height: 250px;
                row-gap: 10px;

                padding: 10px;


                .quantity-control {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: 200px;

                    .quantity-conteiner {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 5px;
                        width: 100%;
                        height: 77px;
                        justify-content: space-between;

                        .quantity-conteiner__quantity-num {

                            color: var(--dark-blue-color);
                            font-size: 20px;
                        }


                        .quantity-conteiner__button-show-control {
                            width: 200px;
                            padding: 5px;
                            border-radius: 3px;
                            font-size: 18px;
                            background-color: var(--light-blue-color);
                            border: none;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                            transition: background-color 0.3s ease, transform 0.1s ease;

                            &:hover {
                                
                                transform: scale(1.02);
                            }

                            &:active {
                                
                                transform: scale(1);
                            }
                        }

                    }

                    .choice-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        width: 100%;
                        row-gap: 5px;
                        height: 77px;

                        .choice-contrall {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid var(--light-blue-color);
                            border-radius: 4px;


                            .choice-contrall__button {
                                width: 35px;
                                height: 35px;
                                border: none;
                                background-color: var(--light-blue-color);
                                color: white;
                                font-weight: bold;
                                font-size: 18px;
                                cursor: pointer;
                                transition: filter 0.2s;
                                transition: background-color 0.3s ease, transform 0.2s ease;


                                &:hover {
                                    filter: brightness(1.2);
                                }

                                &:active {
                                    transform: scale(0.95);
                                }
                            }

                            .choice-contrall__number {
                                width: 30px;
                                text-align: center;
                                font-size: 18px;
                                color: var(--dark-blue-color);
                            }
                        }

                        .choice-contrall__apply-btn {
                            width: 200px;
                            padding: 5px;
                            border-radius: 3px;
                            font-size: 18px;
                            background-color: var(--light-blue-color);
                            border: none;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                            transition: background-color 0.3s ease, transform 0.2s ease;

                            &:hover {
                              
                                transform: scale(1.03);
                            }

                            &:active {
                                
                                transform: scale(1);
                            }
                        }


                    }
                }



                .total-price {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    row-gap: 5px;

                    .total-price__total-price-num {
                        color: var(--dark-blue-color);
                        font-size: 24px;
                    }

                    .total-price__pay-btn {
                        width: 220px;
                        padding: 10px;
                        border-radius: 3px;
                        font-size: 22px;
                        font-weight: 600;
                        background-color: rgb(3, 233, 221);;
                        border: none;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        transition: background-color 0.3s ease, transform 0.3s ease;

                        &:hover {
                         
                            transform: scale(1.05);
                        }

                        &:active {
                          
                            transform: scale(1);
                        }
                    }
                }

            }




        }

    }


}